.alert {
  position: fixed;
  bottom: 50px;
  right: 4px;
  z-index: 1000;
  &:info {
    background: $green;
  }
  &:warning {
    background: $red;
  }
}

.notice {
  position: fixed;
  bottom: 50px;
  right: 4px;
  z-index: 1000;
  &:info {
    background: $green;
  }
  &:warning {
    background: $red;
  }
}

// .alert {
//   margin: 0;
//   text-align: center;
//   color: white;
//   &:info {
//     background: $green;
//   }
//   &:warning {
//     background: $red;
//   }
// }
