.card-bird {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  color: #272343;
}

.card-content {
   display: flex;
   flex-direction: column;
   align-items: center;

    a img {
        opacity: 1;
      }

    a:hover img {
        opacity: 0.5;

      }

    img {
      width: 150px;
      height: 150px;
      background-color: #EBFAFF;
      border-radius:50%;
      background-position: center;
      background-size:100% auto;
      background-repeat: no-repeat;
     }
}

.card-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 20px;
      margin: 0;
    }
}
