.icon-green {
  color: #48A868;
  margin-left: 15px;
  opacity: 0.7;

  .icon-green:hover {
    opacity: 1;
  }
}

.icon-red {
  color: #E04E61;
  margin-right: 15px;
  opacity: 0.7;

  .icon-red:hover {
    opacity: 1;
  }
}

.icon-display-non {
  display: none;
}

.icon-index {
  color: #48A868;
  margin-left: 15px;
  opacity: 0.7;
  font-size: 8;

}
